@use "mediaQueries";

@mixin toRem($property, $value) {
	#{$property}: calc($value / 16) + rem;
}

.onlyMobile {
	display: block;

	@include mediaQueries.media("md") {
		display: none;
	}
}

.onlyDesktop {
	display: none;

	@include mediaQueries.media("md") {
		display: block;
	}
}
